* {
    transition: all 0.3s;
}

body {
    background: cadetblue;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
}

.contenedor {
    width: 97vw;
    height: 97vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 8px;
    border-radius: 10px;
    margin: 30px;
    color: rgb(66, 111, 112);
}

.categoria {
    opacity: 0.3;
    text-align: left;
}

.pregunta {
    padding: 8px;
}

.imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
    border-radius: 10px;
}

.btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(66, 111, 112);
}

.btn:hover {
    transform: scale(1.05);
}
  
.numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
}
  
.puntaje{
    padding:10px;
    color:white;
}

h1 {
    font-size: 5rem;
    margin: 0;
    color: rgb(66, 111, 112);
}

.autor {
    position: absolute;
    bottom: 30px;
    color: rgb(66, 111, 112);
    font-size: 2rem;
}

